* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    width: 1440px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #364f6b;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    transition: all ease-in-out .2s;
}

section  {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}


.kolom {
position: absolute;
width: 813px;
height: 833px;
left: -130px;
top: -150;

background: #69DADB;
}

img.logotransparan {
position: absolute;
width: 296px;
height: 270px;
left: 275px;
top: 175px;
}

img.ornamen4 {
    position: absolute;
    width: 302.32px;
    height: 302.32px;
    left: -120px;
    top: -20px;
    
    transform: rotate(-140.48deg);
}

img.samping1 {
position: absolute;
width: 600px;
height: 833px;
left: 220px;
top: -0px;



}

.kolom .deskripsi {
position: absolute;
width: 440px;
height: 108px;
left: 926px;
top: 74px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
text-align: center;

color: #000000;
}

h2 {
position: absolute;
width: 400px;
height: 134px;
left: 259px;
top: 450px;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 89.3333px;
line-height: 134px;

color: #FFFFFF;
}

h5 {
    position: absolute;
width: 426px;
height: 33px;
left: 934px;
top: 290px;
}

img.line6 {
    position: absolute;
width: 423px;
height: 0px;
left: 937px;
top: 323px;

border: 1px solid #000000;

}



.input {
position: absolute;
width: 426px;
height: 33px;
left: 934px;
top: 290px;

}

.input1 {
position: absolute;
width: 423px;
height: 33px;
left: 937px;
top: 383px;

}

.Sandi{
position: absolute;
width: 423px;
height: 33px;
left: 937px;
top: 476px;
}

.Sandi1{
    position: absolute;
width: 423px;
height: 33px;
left: 934px;
top: 569px;
}

.submit {
    position: absolute;
width: 420px;
height: 70px;
left: 937px;
top: 684px;
text-transform: uppercase;
margin: 1rem 0;
	cursor: pointer;
	transition: .5s;

background: #03DFE1;
box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}